html, body, .container-fluid, .row {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  background-color: skyblue;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 5px;
  padding-right: 5px;
}

.container-flex {
  display: flex;
  flex-direction: row wrap;
  text-align: center;
  min-height: 100vh;
}

.container-flex>* {
  flex: 1 100%;
}

.main {
  text-align: center;
  max-height: 100vh;
  background-color: skyblue;
  border-left: 1px solid black;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.media {
  max-width: 100vh;
  min-width: 0;
  margin: 65px 10px;
}

.aside {
  background-color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 33.33vh;
}

img {
  width: 450px;
  max-height: 450px;
  max-width: 100%;
}

.counter {
  font-size: 150px;
  margin-bottom: -10px;
}

.info {
  font-size: 35px;
  margin-bottom: 50px;
}

.hashtag {
  font-size: 80px;
}

h1 {
  margin-bottom: 15px;
}

.counter {
  margin: 1.5%;
}

@media screen and (max-width: 470px) {
  .mobile {
    margin-top: 15vh;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .mobile-logo {
    margin-top: 21vh;
  }
  .counter {
    font-size: 120px;
  }
  .hashtag {
    font-size: 30px;
  }
  .info {
    font-size: 20px;
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 330px) {
  .mobile {
    margin-top: 15vh;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .mobile-logo {
    margin-top: 17vh;
  }
  .counter {
    font-size: 80px;
  }
  .hashtag {
    font-size: 20px;
  }
  .info {
    font-size: 20px;
  }
}